@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: bisque;
}

.main-container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    

}

.main-title {
  font-size: 3rem;
  font-weight: 500;
  border-bottom: 2px solid black;
}

form {
  padding: 1px;
}

input {
outline: none;
color: #333;
border: 1px solid #3d5a4e;
}

.input-box {
  margin-top: 2em;
}

.new-list-item {
  text-align: center;
  margin-left: .5em;
  margin-top: .8em;
}

.element-list {
  overflow-y:auto;

}

ul {
  padding: 1em;
}

li{
  list-style-type:none;
  padding: 2em 1em;
}

.completed-container {
  display: flex;
  align-items: flex-end;
  margin-left: 2.2rem;
  text-align: left;
}

.error-hint {
  color: red;
  margin-bottom: .5rem;
  margin-top: .2rem;
  margin-right: 5.3rem;
  font-size: .7rem;
}

.hidden {
  display:none;
}